@font-face {
  font-family: 'NexaLight';
  src: url("../font/NexaThin.otf") format("opentype"); }

@font-face {
  font-family: 'Avenir Next';
  src: url("../font/AvenirNext-UltraLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Next';
  src: url("../font/AvenirNext-UltraLightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Avenir Next';
  src: url("../font/AvenirNext-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Next';
  src: url("../font/AvenirNext-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Avenir Next';
  src: url("../font/AvenirNext-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Next';
  src: url("../font/AvenirNext-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Avenir Next';
  src: url("../font/AvenirNext-DemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Next';
  src: url("../font/AvenirNext-DemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Avenir Next';
  src: url("../font/AvenirNext-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Next';
  src: url("../font/AvenirNext-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'Avenir Next';
  src: url("../font/AvenirNext-Heavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Next';
  src: url("../font/AvenirNext-HeavyItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'Landscape';
  src: url("../font/Landscape-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

a.button {
  display: inline-block;
  text-decoration: none;
  background-color: #00b09f;
  padding: 5px;
  width: 200px;
  -webkit-transition: .2s;
  transition: .2s; }
  a.button:link, a.button:visited {
    color: white; }
  a.button:active, a.button:focus {
    background-color: #17ffe9;
    outline: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  a.button:hover {
    background-color: #00e3cd;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  a.button.primary {
    background-color: #14b4fc; }
    a.button.primary:active, a.button.primary:focus {
      background-color: #79d4fd; }
    a.button.primary:hover {
      background-color: #47c4fd; }

body {
  width: 100%;
  background-color: #282C34;
  color: white;
  font-size: calc((18/16*100%) + (18 - 16) * (100vw - 600px) / (1000 - 600));
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Avenir Next', sans-serif; }

h2 {
  font-weight: 600; }

p {
  font-weight: 300; }

p.hint {
  font-size: 0.6em;
  margin: 0; }

a {
  color: #2196F3;
  -webkit-transition: .2s;
  transition: .2s; }
  a:hover {
    color: #0c7cd5; }
  a:focus, a:active {
    color: #0960a5; }

ul.blocks {
  margin: 0; }
  ul.blocks li {
    list-style: none;
    display: inline-block; }

section {
  width: 100%;
  padding: 70px 0;
  text-align: center; }

a.down {
  color: white;
  -webkit-transition: .2s;
  transition: .2s;
  font-size: 1.5em; }
  a.down:hover {
    color: rgba(255, 255, 255, 0.7); }

.toc {
  width: 100vw;
  height: 40px;
  background-color: #1f1f1f;
  position: fixed;
  top: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .toc a.home {
    margin-left: 50px;
    color: white;
    font-family: 'NexaLight', sans-serif;
    text-decoration: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    line-height: 40px; }
    .toc a.home span {
      color: #f55a4e; }
  .toc ul {
    float: right;
    margin-right: 50px;
    height: 40px; }
    .toc ul a {
      line-height: 40px;
      display: block;
      margin: 0;
      height: 40px;
      background-color: #1f1f1f;
      -webkit-transition: 0.2s;
      transition: 0.2s;
      text-decoration: none;
      color: white;
      padding: 0 10px;
      font-size: 16px; }
      .toc ul a:hover {
        color: rgba(0, 0, 0, 0.87);
        background-color: #ebebeb; }

header {
  position: relative;
  display: block;
  width: 100%;
  height: calc(100vh - 40px);
  margin-top: 40px; }
  header .banner {
    width: 100%;
    height: 80%;
    background: url(../assets/hackstart_banner_compress.jpg) no-repeat center center;
    background-size: cover; }
    header .banner .gradient {
      width: 100%;
      height: 100%;
      z-index: 1;
      background: -webkit-linear-gradient(transparent, #282C34);
      background: linear-gradient(transparent, #282C34); }
  header .logo {
    width: 20em;
    position: absolute;
    top: calc(50% - 50px);
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center; }
    header .logo h1,
    header .logo h2 {
      margin: 0;
      font-weight: 300; }
    header .logo h2 {
      -webkit-transform: translate(-50%);
              transform: translate(-50%);
      margin-left: 50%;
      white-space: nowrap;
      text-align: left; }
    header .logo ul {
      margin-top: 30px; }
      header .logo ul li {
        margin-bottom: 10px; }

#about {
  padding-top: 0; }
  #about ul.images {
    display: block;
    white-space: nowrap; }
    #about ul.images li img {
      width: 8em;
      margin: 5px; }
    #about ul.images li p {
      display: block;
      margin: 0;
      width: 100%;
      font-size: .5em;
      line-height: 14px;
      font-weight: 400;
      padding: 0; }
  #about p {
    padding: 0 25%; }
    #about p:nth-of-type(1) {
      font-weight: 500; }

#why {
  background-color: #f55a4e; }
  #why p {
    padding: 0 25%;
    font-weight: 400; }
    #why p:nth-of-type(1) {
      font-weight: 600; }

#team {
  padding-bottom: 0; }
  #team h2 {
    margin-bottom: 0; }
  #team ul.people li {
    -webkit-perspective: 1000;
            perspective: 1000;
    list-style: none;
    display: inline-block;
    margin: 0 5px; }
    #team ul.people li:hover .flipper {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg); }
    #team ul.people li .flipper {
      -webkit-transition: 0.6s;
      transition: 0.6s;
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
      position: relative;
      /* back, initially hidden pane */ }
      #team ul.people li .flipper h3,
      #team ul.people li .flipper h4 {
        margin: 10px 0; }
      #team ul.people li .flipper .bottom {
        position: absolute;
        bottom: 0;
        width: 100%; }
      #team ul.people li .flipper .back,
      #team ul.people li .flipper .front {
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: 0 8px 13px 0 rgba(0, 0, 0, 0.2); }
      #team ul.people li .flipper .front {
        z-index: 2;
        /* for firefox 31 */
        -webkit-transform: rotateY(0deg);
                transform: rotateY(0deg);
        color: white; }
        #team ul.people li .flipper .front#anthony {
          background: url("../assets/port_anthony.jpg") no-repeat center center;
          background-size: cover; }
        #team ul.people li .flipper .front#aditya {
          color: rgba(0, 0, 0, 0.54);
          background: url("../assets/port_aditya.jpg") no-repeat center center;
          background-size: cover;
          -webkit-filter: grayscale(100%);
                  filter: grayscale(100%); }
        #team ul.people li .flipper .front#nitish {
          background: url("../assets/port_nitish.jpg") no-repeat center center;
          background-size: cover;
          -webkit-filter: grayscale(100%);
                  filter: grayscale(100%); }
      #team ul.people li .flipper .back {
        -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
        background-color: white;
        color: rgba(0, 0, 0, 0.87);
        font-size: .8em;
        font-weight: 500; }
  #team ul.people .back,
  #team ul.people .front,
  #team ul.people li {
    width: 250px;
    height: 300px; }
  #team p {
    font-weight: 400; }

section#events ul {
  padding-left: 0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  section#events ul li {
    min-width: 400px;
    height: 500px;
    list-style: none;
    -webkit-box-flex: 100;
    -webkit-flex-grow: 100;
        -ms-flex-positive: 100;
            flex-grow: 100;
    position: relative;
    -webkit-transition: .2s;
    transition: .2s; }
    section#events ul li a {
      color: white;
      display: block;
      position: absolute;
      width: 100%;
      height: 100%; }
    section#events ul li .logo {
      width: 15em;
      margin: 50px auto 0;
      pointer-events: none; }
    section#events ul li p {
      position: absolute;
      bottom: 15px;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      white-space: nowrap; }
    section#events ul li .background {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-color: #121417;
      background-blend-mode: multiply;
      -webkit-transition: .5s;
      transition: .5s; }
    section#events ul li:hover .background {
      background-color: #333842 !important; }
    section#events ul li#hackstart-summer .background {
      background: url("../assets/event-hackstart.jpg") no-repeat center center;
      background-size: cover;
      background-color: #121417; }
    section#events ul li#local-hack-day .logo {
      width: 5em; }
    section#events ul li#local-hack-day .background {
      background: url("../assets/event-hackahs.jpg") no-repeat center center;
      background-size: cover;
      background-color: #121417; }
    section#events ul li#local-hack-day .logo {
      width: 5em; }
    section#events ul li#local-hack-day .background {
      background: url("../assets/event-hackahs.jpg") no-repeat center center;
      background-size: cover;
      background-color: #121417; }
    section#events ul li#refugee-hack .logo img {
      width: 5em; }
    section#events ul li#refugee-hack .background {
      background: url("../assets/event-refugeehack.jpg") no-repeat center center;
      background-size: cover;
      background-color: #121417; }
