a.button {
  display: inline-block;
  text-decoration: none;
  background-color: $button-color;
  padding: 5px;
  width: 200px;
  transition: .2s;

  &:link, &:visited {
    color: $primary-light-color;
  }

  &:active, &:focus {
    background-color: $button-color-active;
    outline: none;
    box-shadow: $md-box-shadow-1;
    box-shadow: $md-box-shadow-3;
  }

  &:hover {
    background-color: $button-color-hover;
    box-shadow: $md-box-shadow-3;
  }

  &.primary {
    background-color: $button-color-primary;
    &:active, &:focus{
        background-color: $button-color-primary-active;
    }
    &:hover {
      background-color: $button-color-primary-hover;
    }
  }
}
