header {
  position: relative;
  display: block;
  width: 100%;
  height: calc(100vh - #{$toc-height});
  margin-top: $toc-height;

  .banner {
    width: 100%;
    height: 80%;
    background: url(../assets/hackstart_banner_compress.jpg) no-repeat center center;
    background-size: cover;
    .gradient {
      width: 100%;
      height: 100%;
      z-index: 1;
      background: linear-gradient(transparent, $black);
    }
  }

  .logo {
    width: 20em;
    position: absolute;
    top: calc(50% - 50px);
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    h1,
    h2 {
      margin: 0;
      font-weight: 300;
    }

    h2 {
      transform: translate(-50%);
      margin-left: 50%;
      white-space: nowrap;
      text-align: left;
    }

    ul {
      margin-top: 30px;
      li {
        margin-bottom: 10px;
      }
    }
  }
}
