@import "variables";
@import "font";
@import "typejs";
@import "button";

html, body {
  background-color: $black;
}

body {
  width: 100%;
  color: $primary-light-color;
  font-size: calc((18/16*100%) + (18 - 16) * (100vw - 600px) / (1000 - 600));
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Avenir Next', sans-serif;
}

h2 {
  font-weight: 600;
}

p {
  font-weight: 300;
}

p.hint {
  font-size: 0.6em;
  margin: 0;
}

a {
  color: $md-blue;
  transition: .2s;
  &:hover {
    color: darken($md-blue, 10%);
  }
  &:focus, &:active {
    color: darken($md-blue, 20%);
  }
}

ul.blocks {
  margin: 0;

  li {
    list-style: none;
    display: inline-block;
  }
}

section {
  width: 100%;
  padding: 70px 0;
  text-align: center;
}

a.down {
  color: $primary-light-color;
  transition: .2s;
  font-size: 1.5em;
  &:hover {
    color: $secondary-light-color;
  }
}

@import "toc";
@import "header";
@import "about";
@import "why";
@import "team";
@import "event";
@import "footer";
@import "involve";
