#team {
  padding-bottom: 0;
  h2 {
    margin-bottom: 0;
  }

  ul.people {
    li {
      perspective: 1000;
      list-style: none;
      display: inline-block;
      margin: 0 5px;

      &:hover .flipper {
        transform: rotateY(180deg);
      }

      .flipper {
        transition: 0.6s;
        transform-style: preserve-3d;
        position: relative;

        h3,
        h4 {
          margin: 10px 0;
        }

        .bottom {
          position: absolute;
          bottom: 0;
          width: 100%;
        }

        .back,
        .front {
          backface-visibility: hidden;
          position: absolute;
          top: 0;
          left: 0;
          box-shadow: 0 8px 13px 0 rgba(0,0,0,.2);
        }

        .front {
          z-index: 2;
          /* for firefox 31 */
          transform: rotateY(0deg);
          color: $primary-light-color;

          &#anthony {
            background: url("../assets/port_anthony.jpg") no-repeat center center;
            background-size: cover;
          }
          &#aditya {
            color: $secondary-dark-color;
            background: url("../assets/port_aditya.jpg") no-repeat center center;
            background-size: cover;
            filter: grayscale(100%);
          }
          &#nitish {
            background: url("../assets/port_nitish.jpg") no-repeat center center;
            background-size: cover;
            filter: grayscale(100%);
          }
        }
        /* back, initially hidden pane */
        .back {
          transform: rotateY(180deg);
          background-color: white;
          color: $primary-dark-color;
          font-size: .7em;
          font-weight: 500;
          padding: 15px;
        }
      }
    }

    .back,
    .front,
    li {
      width: 250px;
      height: 300px;
    }
  }

  p {
    font-weight: 400;
  }
}
