.toc {
  width: 100vw;
  height: $toc-height;
  background-color: darken($md-grey, 50%);
  position: fixed;
  top: 0;
  box-shadow: $md-box-shadow-2;

  a.home {
    margin-left: 50px;
    color: white;
    font-family: 'NexaLight', sans-serif;
    text-decoration: none;
    user-select: none;
    line-height: $toc-height;

    span {
      color: lighten($md-red, 5%);
    }
  }

  ul {
    float: right;
    margin-right: 50px;
    height: $toc-height;

    a {
      line-height: $toc-height;
      display: block;
      margin: 0;
      height: $toc-height;
      background-color: darken($md-grey, 50%);
      transition: 0.2s;
      text-decoration: none;
      color: $primary-light-color;
      padding: 0 10px;
      font-size: 16px;

      &:hover {
        color: $primary-dark-color;
        background-color: lighten($md-grey,30%);
      }
    }
  }
}
